{% extends "index.html" %}
{%- block title -%}
{{ title_macros::title(page_title=page.title, main_title=config.title) }}
{%- endblock -%}


{% block content %}
    <div class="post">
        <h1 class="post-title">{{ page.title }}</h1>

        {%- set all_series = get_taxonomy(kind="series") %}
        {%- set all_pages = [] %}
        {%- for term in all_series.items %}
          {%- set_global all_pages = all_pages | concat(with=term.pages) %}
        {%- endfor %}
        {%- set all_pages = all_pages | sort(attribute="date") | reverse %}
        {{ post_macros::list_posts(pages=all_pages) }}
    </div>
{% endblock content %}