@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-regular-subset.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-bold-subset.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-italic-subset.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-bolditalic-subset.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
