@import 'variables';

.footer {
  padding: $gap-lg 0;
  flex-grow: 0;
  opacity: 0.5;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    max-width: 100%;

    @media (max-width: $phone-max) {
      flex-direction: column;
      gap: $gap-sm;
    }
  }

  a {
    color: inherit;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
    color: var(--color-secondary);

    &--user {
      margin: auto;
      text-align: center;
    }

    & > *:first-child:not(:only-child) {
      margin-right: $gap-sm;

      @media (max-width: $phone-max) {
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    @media (max-width: $phone-max) {
      flex-direction: column;
      margin-top: $gap-sm;
    }
  }

  .copyright-theme-sep {
    @media (max-width: $phone-max) {
      display: none;
    }
  }

  .copyright-theme {
    @media (max-width: $phone-max) {
      font-size: 0.75rem;
    }
  }
}